<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <clear />
    <add name="Local" connectionString="Data Source=GREMLIN-HP\SQLEXPRESS;Initial Catalog=SeleniumLogs;Integrated Security=True" />
  </connectionStrings>
  <appSettings>
    <add key="baseUrl" value="https://the-internet.herokuapp.com/" />
    <add key="craigslistUrl" value="https://bellingham.craigslist.org/" />
    <add key="userName" value="admin" />
    <add key="password" value="admin" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="nunit.framework" publicKeyToken="2638cd05610744eb" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.13.1.0" newVersion="3.13.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="TechTalk.SpecFlow" publicKeyToken="0778194805d6db41" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.7.0.0" newVersion="3.7.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>