<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <clear />
    <add name="Local"
     connectionString="Data Source=GREMLIN-HP\SQLEXPRESS;Initial Catalog=SeleniumLogs;Integrated Security=True" />
  </connectionStrings>
  <appSettings>
    <add key="baseUrl" value="https://the-internet.herokuapp.com/"/>
    <add key="craigslistUrl" value="https://bellingham.craigslist.org/"/>
    <add key="userName" value="admin"/>
    <add key="password" value="admin"/>
  </appSettings>
</configuration>